@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --corporateBlue: #010d23;
    --corporateGreen: #43c1a9;
}

.font-family-Montserrat { font-family: Montserrat; }
.bg-sidebar { background: var(--corporateBlue); }
.cta-btn { color: var(--corporateGreen); }
.upgrade-btn { background: var(--corporateGreen);}
.upgrade-btn:hover { background: var(--corporateGreen); transition: all .3s ease-in-out;}
.active-nav-link { background: var(--corporateGreen); }
.nav-item:hover { background: var(--corporateGreen); transition: all .3s ease-in-out;}
.account-link:hover { background: var(--corporateGreen); transition: all .3s ease-in-out;}

.mr-15px{
  margin-right:15px;
}

.nav-item img{
  max-width:24px;
}

header a, a,
a.menu-button{
    color: #000000;
}

header a:hover{
  color: var(--corporateGreen);
}

header.xl:flex {
    border-bottom: 1px solid #e9edf3;
}
nav a,
nav a:hover{
  color: #fff;
}
.w-180{
    width:11.25rem;
}

.w-22rem{
    min-width:19.2rem;
}
.mw-183{
    max-width: 183px;
    padding-left: 4px;
}
.py-6-5{
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
}
.balance-holder {
    padding: 30px 40px 0;
}
.balance-holder h4 {
    font-size: 17px;
    margin-bottom: 0.5rem;
    line-height: normal;
    color:#fff;
}
.balance-holder .t-balance {
    font-size: 27px;
    font-weight: 500;
    line-height: normal;
}
.pt-90{
    padding-top: 1.313rem;

}



.top-nav{
    margin-bottom: 0;
}
.top-nav a{
    font-weight: 600;
    color: #7A7676;
}
.top-nav li{
    border-bottom:5px solid #fff;
}
.top-nav li.border-active,
.top-nav li:hover {
    border-bottom:5px solid var(--corporateGreen);
}

.top-nav li a:hover{
  color: var(--corporateGreen);
}

.top-nav li a:hover svg path{
  fill: var(--corporateGreen);
}

.top-nav li.border-active a{
    color: var(--corporateGreen);
}



.bg-image{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: top center;
}

.bg-inside-api{
  background: url('../images/api-bg.jpg') #F2F2F2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-inside-invest{
  background: url('../images/invest-bg.jpg') #F2F2F2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-inside-demo{
  background: url('../images/inner-bg-demo.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-gray{
    background-color: #F2F2F2;
}

a.btn-green {
  background: linear-gradient(180deg, #43C1A9 0%, #24917C 100%);
  color:#fff;
}

.master-wallet{
    background: linear-gradient(90deg, #05D8BF -91.8%, #1F237D 100%);
    border-radius: 20px;
    padding: 62px 38px;
    width: 100%;
    max-width:450px;
}

.text-green{
    color:#18C303;
}

.banner{
    border-radius:20px;
    overflow: hidden;
}

.banner img{
    object-fit: cover;
}

.menu-button{
    padding: 30px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
}
.menu-button:hover{
    background-color: var(--corporateGreen);
    color: #fff;
}
.menu-button svg{
    height: 40px;
}
.menu-button:hover svg path{
    fill:#fff;
    transition: all ease 0.3s;
}
:hover{
    transition: all ease 0.3s; 
}

nav a.active-nav-link{
    color:#fff;
}

.navItem-bg-color {
    background: linear-gradient(180deg, #43C1A9 0%, #24917C 100%);
    color: #fff;
    border-radius: 28px; 
    font-family: Montserrat; 
    font-style: normal; 
    font-weight: 600; 
    width: 100%;
    border-radius: 9px;
    cursor: pointer;
}

.light-bg{
  background: #F9F9F9;
}

.desired-coin{
  background-color: #fff;
  color:#36D7A7;
}
.desired-coin:hover,
.desired-coin.active {
  background: linear-gradient(180deg, #43C1A9 0%, #24917C 100%);
  color: #fff;
}

.mt-130{
    margin-top: 8.125rem;
}
.ant-tabs-tab{
  font-weight: 600;
}
.ant-tabs-nav-list .ant-tabs-tab:hover {
  color: #43C1A9;
}


.news-photo{
  height:auto;
}

.news-content{
  
}

.mh-60{
  min-height:60px;
}

.mw-50{
  max-width:50px;
}

/* Mobile CSS */
.mt-180{
    margin-top: 11.25rem;
  }
  
  .ant-modal.mx-size.dark-blue{
    max-width:calc(667px - 32px);
    width: calc(100% - 18px);
    height:auto;
    border-radius: 25px;
    background: #29313E;    
    box-shadow: unset;
    top: 50%;
    transform: translateY(-50%);
  }

  .ant-modal.mx-size.demo{
    max-width:calc(667px - 32px);
    width: calc(100% - 18px);
    height:auto;
    border-radius: 25px;
    background: #013648;    
    box-shadow: unset;
  }
  


  .ant-modal-body.pt-0{
    padding-top:0;
  }

  .ant-modal.mx-size.small-modal{
    max-width:calc(410px - 32px);
  }

  .ant-modal.mx-size.white-theme {
    background: #fff;
  }

  .ant-modal.mx-size{
    max-width:calc(667px - 32px);
    width: calc(100% - 16px);
    height:auto;
    border-radius: 25px;
    background: #43C1A9;    
    box-shadow: unset;
    padding-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .ant-modal.mx-size .ant-modal-content,
  .ant-modal.mx-size .ant-modal-header,
  .ant-modal.mx-size .ant-modal-footer{
    background-color: unset;
    box-shadow: unset;
    border: 0;
  }

  .ant-modal.mx-size .ant-modal-header{
    padding-top: 25px;
  }

  .ant-modal.mx-size .ant-modal-title{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }

  .ant-btn.ant-yellow{
    background: linear-gradient(0deg, #EFC938, #EFC938);
    box-shadow: 20px 20px 12px rgba(175, 126, 255, 0.3);
    border-radius: 100px;
    color: #fff;
    border: 0;
    width: 145px;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin: 10px;
  }

  .ant-btn.ant-btn-lg{
    font-size: 14px;
  }

  .ant-btn.ant-yellow.ant-white{
    background: linear-gradient(0deg, #E7E7E7, #E7E7E7);
    color: #43C1A9;
    box-shadow: 20px 20px 12px rgba(175, 126, 255, 0.3);
  }

  .ant-btn.ant-yellow.ant-white:hover{
    background: linear-gradient(0deg, #EFC938, #EFC938);
    color: #fff;
  }

  .ant-modal.mx-size .ant-modal-footer{
    padding:0 34px;
  }

  .ant-btn.ant-btn-block.ant-yellow{
    width: 100%;
    background: #16AA97;
  }

  .ant-btn.ant-yellow.ant-green{
    background: #16AA97;
    color:#FFFFFF;
    font-weight: 600;
  }

  .ant-btn.ant-yellow.ant-next{
    font-weight: 600;
  }

  .ant-btn.ant-yellow.ant-green:hover{
    background: linear-gradient(0deg, #EFC938, #EFC938);
    color:#FFFFFF;
  }

  .ant-btn.br-10{
    border-radius: 10px;
  }

  .ant-btn.green-btn{
    background: linear-gradient(180deg, #43C1A9 0%, #24917C 100%);
    border-radius: 9px;
    color: #fff;
    border: 0;
  }

  .video{
    max-width:311px;
    height:185px;
  }

  .ant-content{
    color:#FFFFFF;
    font-size: 12px;
  }

  .font-600{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  .coin-type img{
    margin-right: 8px;
  }


  .btn-edit{
    background-color: #5B5B5B;
    border-radius: 8px;
    color: #fff;
    border: 0;
    width: 95px;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    display: block;
  }

  
  .btn-green{
    background: linear-gradient(180deg, #43C1A9 0%, #24917C 100%);
    color:#FFFFFF;
    font-weight: 600;
    min-height:39px;
    width:100%;
    border-radius: 10px;
  }

  .btn-orange{
    background: linear-gradient(0deg, #EFC938, #EFC938);
    height:39px;
    width:100%;
    color:#FFFFFF;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    display: block;
    border: 0;
    border-radius: 12px;
  }

  .btn-main-orange{
    background: linear-gradient(0deg, #EFC938, #EFC938);
    box-shadow: 20px 44px 52px -24px rgba(112, 105, 219, 0.3);
    border-radius: 8px;
    width: 100%;
    background-size: cover;
  }
  

  .text-style a{
    color:#1D8DF2;
    text-decoration: underline;
  }

  .ant-input{
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    margin: 0;
    min-width: 0;
    padding: 11px 11px;
    position: relative;
    transition: all .3s;
    width: 100%;
    min-height: 46px;
  }
  .ant-select-selector{
    border-radius: 12px !important;
  } 
  .ant-select-selector, .ant-select-selection-search-input{
    min-height: 46px;
  }
  .ant-select-selection-item,
  .ant-select-selection-search-input{
    line-height: 40px !important;
  }

.input-border.ant-input-number-disabled{
  color:#fff !important;
}

  .input-border{
    border-radius: 8px!important;
    border-width: 1px!important;
  }

  .ant-input::placeholder{
    color: #A9A9A9;
  }

  .ant-input-number-disabled, .ant-input[disabled], .ant-select-disabled .ant-select-selector {
    background-color: #a6a4a1!important;
    color: #000!important;
}


  .btn-coin.btn-white{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 89px; 
    border-radius: 20px;  
    cursor: pointer;
  }

  .bg-main-color-gradient{
    background: url('../images/bg-linear.svg') no-repeat;
    box-shadow: 20px 44px 52px -24px rgba(112, 105, 219, 0.3);
    border-radius: 8px;
    width: 100%;
    background-size: cover;
  }

  .btn-main-green{
    background: #43C1A9;
    box-shadow: 20px 44px 52px -24px rgba(112, 105, 219, 0.3);
    border-radius: 8px;
    width: 100%;
    background-size: cover;
  }

  .btn-main-blue{
    background: #013648;
    box-shadow: 20px 44px 52px -24px rgba(112, 105, 219, 0.3);
    border-radius: 8px;
    width: 100%;
    background-size: cover;
  }

  .bg-green{
    background: rgba(47, 210, 189, 0.7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }

  .btn-coin{
    background: #43C1A9;
    width:100%;
    height: 46px;
    color: #fff;
    border-radius: 10px;
  }

  .btn-coin:hover{
    background-color: var(--corporateBlue);
  }

  .btn-blue:hover{
    background-color: var(--corporateGreen);
  }

  .btn-coin.dark-blue{
    background: #013648;
    width:100%;
    height: 46px;
    color: #fff;
    border-radius: 10px;
  }

  .gray-bg-color{
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 46.67%);
  }

  .ant-submit{
    background: linear-gradient(0deg, #43C1A9, #43C1A9);
  }

  .text-blue{
    color:#45C8F2;
  }
  .text-green{
    color:#36D7A7;
  }

  .border-left{
    border-left: 1px solid #BEBEBE;
    padding-left: 10px;
  }

  .drop-shadow{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .text-gray{
    color:#ADB1B2;
  }

  .wallet-green{
    background: linear-gradient(0deg, #43C1A9, #43C1A9);
    border-radius: 11px;
  }
  .wallet-demo{
    background: linear-gradient(0deg, #013648, #013648);
    border-radius: 11px;
    position: relative;
  }

  .wallet-demo::before{
    content:'DEMO';
    position: absolute;
    font-size: 96px;
    font-weight: 600;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    color:rgba(255,255,255,0.1);
  }

  .ant-table-small .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td{
    background-color: #F2F2F2 !important;
  }
  .ant-table-small .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td{
    border: 1px solid #fff;
  }

  .ant-tabs-tab{
    margin-right: 20px !important;
  }

  .ant-tabs-tab+.ant-tabs-tab {
    margin: 0 0 0 32px;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:#43C1A9 !important;
    font-weight: 600 !important;
  }

  .ant-tabs-ink-bar{
    background: #43C1A9 !important;
  }

  .mw-100{
    max-width: 100px;
    width: 100%;
  }

  .mw-200 {
    max-width: 200px;
    width: 100%;
  }

  .ant-list-split .ant-list-item {
    border-bottom:1px solid #868d97 !important;
  }

  .gray-bg{
    background:#DEDEDE;
    padding: 0 10px;
    border-radius: 20px;
  }

  .gray-bg.p-30{
    padding: 30px;
  }

  .gray-bg.px-30{
    padding: 0 30px;
  }

  .ant-list-item.ant-list-item-no-flex:last-child{
    border-bottom: 0 !important;
  }

  .br-1{
    border-right: 1px solid #fff;
  }

  .bb-1{
    border-bottom: 1px solid #fff;
  }
  .main-button-color{
    border-bottom: 1px solid #43C1A9;
    background-color: unset;
    color:#ADB1B2;
  }
  .second-button-color{
    color:#ADB1B2;
  }

  .ant-pagination-simple .ant-pagination-simple-pager input {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    height: 100%;
    margin-right: 8px;
    outline: none;
    padding: 0 6px;
    text-align: center;
    transition: border-color .3s;
  }

  .ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link {
    background-color: transparent;
    border: 0;
    height: 24px;
    color:rgba(0, 0, 0, 0.5);
  }

  .ant-pagination.mini .ant-pagination-next, .ant-pagination.mini .ant-pagination-prev {
    height: 24px;
    line-height: 24px;
    margin: 0;
    min-width: 24px;
    text-align: center;
  }

  .ant-pagination-simple .ant-pagination-simple-pager input {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    height: 100%;
    margin-right: 8px;
    outline: none;
    padding: 0 6px;
    text-align: center;
    transition: border-color .3s;
    color:rgba(0, 0, 0, 0.5);
  }
  .ant-pagination.mini .ant-pagination-simple-pager, .ant-pagination.mini .ant-pagination-total-text {
    height: 24px;
    line-height: 24px;
    color:rgba(0, 0, 0, 0.5);
  }

  .border-b-white{
    border-bottom: 1px solid #fff;
  }

  .ant-table-small .border-hidden > table > .ant-table-thead>tr>th, .border-hidden .ant-table-tbody>tr>td{
    background-color: #DEDEDE !important;
    border: 0;
  }
  .gray-bg .ant-table{
    background-color: #DEDEDE;
    overflow: hidden;
  }
  .gray-bg.padding{
    padding-top:5px;
    padding-bottom:5px;
  }

  .border-hidden .ant-table-thead th{
    border-bottom: 1px solid #fff !important;
  }

  .right-arrow{
    background-image: url(../images/right.svg);
    background-repeat: no-repeat;
    background-position: right;
  }

  .text-707070{
    color:#707070;
  }
  a.text-FAE800{
    color:#FAE800;
  }
  .ant-tabs >.ant-tabs-nav > .ant-tabs-nav-wrap.justify-content-start{
    justify-content: flex-start;
  }

  .ant-input.text-red{
    color:#FF0000;
  }

  .round-bar{
    background: url('../images/round-bar.svg');
    width: 187px;
    height: 187px;
  }
  .btn-green.rounded-l-lg{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-green.rounded-r-lg{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .bg-gray-208{
    background-color: #d0d0d0;
  }

  .ant-table.ant-table-small .ant-table-tbody>tr>td{
    padding-left:20px;
    padding-right:20px;
  }
  table.border-right thead > tr > th,
  table.border-right .ant-table-tbody > tr > td{
    border-right:1px solid #fff !important;
  }

  table.border-right .ant-table-thead > tr > th:last-child,
  table.border-right .ant-table-tbody > tr > td:last-child{
    border-right:20px !important;
  }

  .api-title{
    margin-left: 60%;
    margin-top: 110px;
  }

  .border-b-1{
    border-bottom: 1px solid #ccc;
  }

  .pdy-5{
    padding-top: 5px;
    padding-bottom: 5px;
  }

/* End Mobile CSS*/


.style-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.style-scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.ant-table-small .default-table .ant-table-thead>tr>th, .default-table .ant-table-tbody>tr>td,
.default-table .ant-table-tbody>tr.ant-table-row:hover>td {
  background: #fff !important;
}

.ant-table-small .default-table .ant-table-thead>tr>th{
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;

}
.default-table .ant-table-tbody>tr>td{
  border-right: 1px solid #f0f0f0;
}

.default-table{
  border:1px solid #f0f0f0;
}

.default-table.transparent{
  border:0;
}

.ant-table-small .default-table.transparent .ant-table-thead>tr>th,
.default-table.transparent .ant-table-tbody>tr>td,
.default-table.transparent .ant-table-tbody>tr.ant-table-row:hover>td{
  background: transparent !important;
}

.default-table.transparent .ant-table-tbody>tr:not(:first-child):not(:last-child) >td{
  border-bottom: 0;
  border-top:0;
  border-left:0;
}

.default-table.transparent .ant-table-thead th,
.default-table.transparent .ant-table-tbody>tr:last-child >td{
  border-top:0;
  border-left: 0;
}

.roundedBorder .ant-input-number-wrapper .ant-input-number {
  border-bottom-left-radius: 10px!important;
  border-top-left-radius: 10px!important;
}

.roundedBorder .ant-input-number-wrapper .ant-input-number-group-addon {
  border-bottom-right-radius: 10px!important;
  border-top-right-radius: 10px!important;
  font-weight: 600;
}


/* Percentage Circle Style */

.bar-container{
  background-color: rgba(255, 255, 255, 0.70);
  display: flex;
  border-radius: 20px;
  align-items:center
}

.light-gray-bg{
  background-color: rgba(222,222,222,0.5);
  border-radius: 12px;
}

.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}

.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
  position: absolute;
  border: 0.09em solid #000000;
  width: 0.82em;
  height: 0.82em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}



.c100 {
  position: relative;
  font-size: 160px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
 
  background-color: #dfe8ed;
}

.c100 *,
.c100 *:before,
.c100 *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.c100>span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5em;
  line-height: 1;
  font-size: 0.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #3c4761;
  display: block;
  text-align: center;
  white-space: nowrap;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.c100>span>span{
  font-size: 20px;
}

.c100:after {
  position: absolute;
  top: 0.09em;
  left: 0.09em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #f2f2f2;
  width: 0.82em;
  height: 0.82em;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -webkit-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}

.c100.p2 .bar {
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -webkit-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}

.c100.p3 .bar {
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -webkit-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}

.c100.p4 .bar {
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -webkit-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}

.c100.p5 .bar {
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
}

.c100.p6 .bar {
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -webkit-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}

.c100.p7 .bar {
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -webkit-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}

.c100.p8 .bar {
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -webkit-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}

.c100.p9 .bar {
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -webkit-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}

.c100.p10 .bar {
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}

.c100.p11 .bar {
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -webkit-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}

.c100.p12 .bar {
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -webkit-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}

.c100.p13 .bar {
  -moz-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  -webkit-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}

.c100.p14 .bar {
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -webkit-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}

.c100.p15 .bar {
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -webkit-transform: rotate(54deg);
  transform: rotate(54deg);
}

.c100.p16 .bar {
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -webkit-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}

.c100.p17 .bar {
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -webkit-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}

.c100.p18 .bar {
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -webkit-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}

.c100.p19 .bar {
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -webkit-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}

.c100.p20 .bar {
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
}

.c100.p21 .bar {
  -moz-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  -webkit-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}

.c100.p22 .bar {
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -webkit-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}

.c100.p23 .bar {
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -webkit-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}

.c100.p24 .bar {
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -webkit-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}

.c100.p25 .bar {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c100.p26 .bar {
  -moz-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  -webkit-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}

.c100.p27 .bar {
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -webkit-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}

.c100.p28 .bar {
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -webkit-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}

.c100.p29 .bar {
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -webkit-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}

.c100.p30 .bar {
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
}

.c100.p31 .bar {
  -moz-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  -webkit-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}

.c100.p32 .bar {
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -webkit-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}

.c100.p33 .bar {
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -webkit-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}

.c100.p34 .bar {
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -webkit-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}

.c100.p35 .bar {
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -webkit-transform: rotate(126deg);
  transform: rotate(126deg);
}

.c100.p36 .bar {
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -webkit-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}

.c100.p37 .bar {
  -moz-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  -webkit-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}

.c100.p38 .bar {
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -webkit-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}

.c100.p39 .bar {
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -webkit-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}

.c100.p40 .bar {
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
}

.c100.p41 .bar {
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -webkit-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}

.c100.p42 .bar {
  -moz-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  -webkit-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}

.c100.p43 .bar {
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -webkit-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}

.c100.p44 .bar {
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -webkit-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}

.c100.p45 .bar {
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -webkit-transform: rotate(162deg);
  transform: rotate(162deg);
}

.c100.p46 .bar {
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -webkit-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}

.c100.p47 .bar {
  -moz-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  -webkit-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}

.c100.p48 .bar {
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -webkit-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}

.c100.p49 .bar {
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -webkit-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}

.c100.p50 .bar {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100.p51 .bar {
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -webkit-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}

.c100.p52 .bar {
  -moz-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  -webkit-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}

.c100.p53 .bar {
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -webkit-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}

.c100.p54 .bar {
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -webkit-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}

.c100.p55 .bar {
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -webkit-transform: rotate(198deg);
  transform: rotate(198deg);
}

.c100.p56 .bar {
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -webkit-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}

.c100.p57 .bar {
  -moz-transform: rotate(205.2deg);
  -ms-transform: rotate(205.2deg);
  -webkit-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
}

.c100.p58 .bar {
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -webkit-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}

.c100.p59 .bar {
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -webkit-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}

.c100.p60 .bar {
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
}

.c100.p61 .bar {
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -webkit-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}

.c100.p62 .bar {
  -moz-transform: rotate(223.2deg);
  -ms-transform: rotate(223.2deg);
  -webkit-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
}

.c100.p63 .bar {
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -webkit-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}

.c100.p64 .bar {
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -webkit-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}

.c100.p65 .bar {
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -webkit-transform: rotate(234deg);
  transform: rotate(234deg);
}

.c100.p66 .bar {
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -webkit-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}

.c100.p67 .bar {
  -moz-transform: rotate(241.2deg);
  -ms-transform: rotate(241.2deg);
  -webkit-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
}

.c100.p68 .bar {
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -webkit-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}

.c100.p69 .bar {
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -webkit-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}

.c100.p70 .bar {
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg);
}

.c100.p71 .bar {
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -webkit-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}

.c100.p72 .bar {
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -webkit-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}

.c100.p73 .bar {
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -webkit-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}

.c100.p74 .bar {
  -moz-transform: rotate(266.4deg);
  -ms-transform: rotate(266.4deg);
  -webkit-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
}

.c100.p75 .bar {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.c100.p76 .bar {
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -webkit-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}

.c100.p77 .bar {
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -webkit-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}

.c100.p78 .bar {
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -webkit-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}

.c100.p79 .bar {
  -moz-transform: rotate(284.4deg);
  -ms-transform: rotate(284.4deg);
  -webkit-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
}

.c100.p80 .bar {
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
}

.c100.p81 .bar {
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -webkit-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}

.c100.p82 .bar {
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -webkit-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}

.c100.p83 .bar {
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -webkit-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}

.c100.p84 .bar {
  -moz-transform: rotate(302.4deg);
  -ms-transform: rotate(302.4deg);
  -webkit-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
}

.c100.p85 .bar {
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -webkit-transform: rotate(306deg);
  transform: rotate(306deg);
}

.c100.p86 .bar {
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -webkit-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}

.c100.p87 .bar {
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -webkit-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}

.c100.p88 .bar {
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -webkit-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}

.c100.p89 .bar {
  -moz-transform: rotate(320.4deg);
  -ms-transform: rotate(320.4deg);
  -webkit-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
}

.c100.p90 .bar {
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg);
}

.c100.p91 .bar {
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -webkit-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}

.c100.p92 .bar {
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -webkit-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}

.c100.p93 .bar {
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -webkit-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}

.c100.p94 .bar {
  -moz-transform: rotate(338.4deg);
  -ms-transform: rotate(338.4deg);
  -webkit-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
}

.c100.p95 .bar {
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -webkit-transform: rotate(342deg);
  transform: rotate(342deg);
}

.c100.p96 .bar {
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -webkit-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}

.c100.p97 .bar {
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -webkit-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}

.c100.p98 .bar {
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -webkit-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}

.c100.p99 .bar {
  -moz-transform: rotate(356.4deg);
  -ms-transform: rotate(356.4deg);
  -webkit-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
}

.c100.p100 .bar {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* .c100:hover {
  cursor: default;
}

.c100:hover>span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #3c4761;
}

.c100:hover:after {
  top: 0.07em;
  left: 0.07em;
  width: 0.86em;
  height: 0.86em;
} */

.c100.blue .bar,
.c100.blue .fill {
  border-color: #30bae7 !important;
}

.c100.blue:hover>span {
  color: #3c4761;
}

.c100.pink .bar,
.c100.pink .fill {
  border-color: #d74680 !important;
}

.c100.pink:hover>span {
  color: #3c4761;
}

.c100.green .bar,
.c100.green .fill {
  border-color: #15c7a8 !important;
}

.c100.green:hover>span {
  color: #3c4761;
}

.c100.orange .bar,
.c100.orange .fill {
  border-color: #eb7d4b !important;
}

.c100.orange:hover>span {
  color: #3c4761;
}

/* Additional CSS for showing selected style */
.ant-col input[type="radio"]:checked+label>div {
  background-color: #000;
  /* Customize the color as desired */
}

.ant-col input[type="radio"]+label>div {
  border: 2px solid #fff;
  outline: #ccc solid 2px;
}

.border-white{
  border-color:#fff;
}

/* End of PCS */

@media (max-width:1536px) {
    .amount{
        font-size: 1.5rem;
    }
    .capital, .percent .profit{
        font-size: 0.75rem;
    }

    .bg-image{
        background-position: top 20px center;
    }

    .mt-180{
      margin-top: 60px;
    }

    .bg-image,
    .bg-inside-api,
    .bg-inside-invest,
    .bg-inside-demo {
      background-size: 125%;
      background-position: top left;
    }
}

@media (max-width:1280px){
  .banner img {
      object-position: left;
  }
}

@media (max-width:1024px){
    .menu-button{
        font-size: 0.75rem;
    }
    .banner img{
        object-position: left;
    }
    .mt-130{
        margin-top: 5.125rem;;
    }
}
@media (max-width:992px){
    .bg-image{
        background-position: top 70px center;
    }
    .bg-inside-api {
      background-position: top 84px center;
    }
    .api-title {
      margin-top: 10px;
     
    }
}